

        <link rel="stylesheet" href="/css/index.css">

    <h1>This is Codial > <%= title %></h1>

        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="" id="new-post-form" method="post">
                <label for="post-content"></label>
                <textarea name="content" id="post-content" cols="30" rows="3"></textarea>

                <input type="submit" value="Post">
            </form>
        </section>

