

    <link rel="stylesheet" href="/css/home.css">

    <h1>This is Codial > <%= title %></h1>

    <div id="home-container">
        <section id="feed-posts">


            <h4>Posts</h4>
            <% if(locals.user) { %>
                <form action="/posts/create" id="new-post-form" method="post">
                    <label for="post-content"></label>
                    <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Post Content Goes Here..." required></textarea>

                    <input type="submit" value="Post">
                </form>
            <% } %>

            <div id="post-list-container">
                <ul>
                    <% for(post of posts) { %>

                        <%- include('_post'); -%>

                    <% } %>
                </ul>
            </div>

        </section>

        <section id="user-friends">
            <h4>Friends</h4>
            <% for(each_user of all_users) { %>
                <p>
                    <a href="/users/profile/<%= each_user.id %>"><%= each_user.userName %></a>
                </p>
            <% } %>
        </section>
    </div>

