<link rel="stylesheet" href="/css/user_signin.css">
    <h1>Sign In</h1>

<form action="/users/createSession" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email here..." required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password Here..." required>

    <button type="submit">Login</button>
</form>