<link rel="stylesheet" href="/css/user_signup.css">
    <h1>Sign Up</h1>

<form action="/users/create" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="User's Email..." required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password Please..." required>

    <label for="retypePassword">Confirm Password</label>
    <input type="password" name="retypePassword" id="retypePassword" placeholder="Password Again..." required>

    <label for="userName">Name</label>
    <input type="text" name="userName" id="userName" placeholder="May I know your name please..." required>

    <button type="submit">Sign Up</button>
</form>